.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  width: 89%;
}

@media all and (max-width: 1024px) {
  .container {
    width: 92%;
  }
}

@media all and (max-width: 525px) {
  .container {
    width: 91%;
  }
}