.portfolio {
  padding-bottom: 125px;
  margin-bottom: 79px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-font-grey);

  margin: 0 0 50px;
  padding: 0;
}

.portfolio__list {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  border-bottom: 1px solid var(--color-line-dark);
  margin-bottom: 20px;
  overflow-y: hidden;
}

.portfolio__input {
  touch-action: manipulation;
  display: none;
}

/* стилизация заголовка проекта */
.portfolio__label {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-black);

  cursor: pointer;
  z-index: 10;
}

.portfolio__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;

  margin: 0;
  cursor: pointer;
  transition: .2s;
}

/* стилизация стрелочки */
.arrow {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 25px 10px 0 0;
}

.arrow-left {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.arrow-left:after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  top: calc(50% - 2px);
  transition: .3s;
}

.arrow-right {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.arrow-right:after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: calc(50% - 2px);
  transform: rotate(360deg);
  transition: .5s;
}

/* стилизация при наведении мыши на заголовок проекта */
.portfolio__label:hover .portfolio__subtitle,
.portfolio__subtitle:hover {
  color: var(--color-font-grey);
}

.portfolio__label:hover .arrow-right:after,
.portfolio__label:hover .arrow-left:after {
  background-color: var(--color-font-grey);
}

/* стилизация содержания проекта */
.portfolio__contain-info {
  position: relative;
  z-index: 5;

  display: flex;
  margin-top: 19px;
  gap: 20px;
  transition: all .5s ease;

  max-height: 500px;
  overflow-y: auto;
}

/* стилизация скроллбара */
.portfolio__contain-info::-webkit-scrollbar {
  width: 0;
}

/* стилизация картинки */
.portfolio__img-cont {
  flex-basis: 50%;
}

.portfolio__img-cont img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

/* стилизация содержания, стрелочки при активном чекбоксе */
.portfolio__input:checked~.portfolio__contain-info {
  max-height: 0;
  transition: all .5s ease;
}

.portfolio__input:checked~.portfolio__label .arrow-right:after {
  transform: rotate(90deg);
}

/* стилизация ссылки */
.portfolio__text-link {
  margin-top: 15px;
}

.portfolio__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: .3s;
}

.portfolio__link:hover {
  color: var(--color-font-grey)
}


@media all and (max-width: 780px) {
  .portfolio {
    padding-bottom: 90px;
  }

  .portfolio__subtitle {
    font-size: 28px;
    line-height: 50px;
  }
}

@media all and (max-width: 525px) {
  .portfolio {
    padding-bottom: 70px;
    margin-bottom: 79px;
  }

  .portfolio__subtitle {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__contain-info {
    flex-direction: column;
  }

  .arrow {
    margin: 15px 3px 0 0;
    width: 15px;
    height: 15px;
  }
}