.profile {
  flex-grow: 1;

  margin: 74px auto 70px;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  margin: 0 0 123px;
}

.profile__form {
  min-width: 410px;
}

.profile__group {
  position: relative;
}

.profile__label {
  position: absolute;
  top: 18px;
  left: 15px;

  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: var(--color-font-grey);

  transition: top .3s ease-in-out;
}

.profile__line {
  height: 1px;
  width: 100%;
  background: var(--color-line-dark);

  margin-bottom: 2px;
}

.profile__button-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;


  margin-top: 220px;
}

.profile__button-edit {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: white;

  background: inherit;
  border: none;
}

.profile__button-exit {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-font-red);

  background: inherit;
  border: none;
}

@media all and (max-width: 525px) {
  .profile__form {
    min-width: 260px;
  }

  .profile__input {
    padding: 0;

    font-size: 11px;
    line-height: 13px;
  }

  .profile__button-edit,
  .profile__button-exit {
    font-size: 12px;
    line-height: 15px;
  }
}