.title {
  padding-bottom: 23px;
  border-bottom: 1px solid var(--color-line-bright);

  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: inherit;
}


@media all and (max-width: 525px) {
  .title {
    padding-bottom: 28px;

    font-size: 18px;
    line-height: 22px;
  }
}