.header {
  margin: 18px auto 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-font-white);

  box-sizing: border-box;
}

.header__list {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
}


.header__list-auth {
  display: flex;
  margin: 0;
  gap: 10px;
  list-style-type: none;
}

.header__item-auth {
  border-radius: 3px;

  transition: all .3s ease;
}

.header__item-auth:hover {
  background-color: var(--color-bg-button-active);
}


.header__item {
  display: flex;
  align-items: center;
}

.header__link,
.header__link-auth {
  display: block;
  padding: 8px 20px;

  text-decoration: none;
  font-weight: 400;
  color: inherit;

  font-size: 12px;
  line-height: 16px;

  transition: all .3s ease;
}

.header__link_active {
  font-weight: 500;
}

.header__item-auth:hover .header__link-auth {
  color: black;
}

.header__item_account .header__link {
  display: flex;
  align-items: center;
  padding-right: 0;
  gap: 17px;
}

.header__item:hover .header__link {
  color: var(--color-font-grey);
}

@media all and (max-width: 780px) {
  .header__list {
    display: none;
  }
}


@media all and (max-width: 525px) {
  .header {
    margin-bottom: 32px;
  }

  .header__list-auth {
    gap: 2px;
  }

  .header__link-auth {
    padding: 5px 12px;

    font-size: 10px;
    line-height: 16px;
  }
}