.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item {}

.navbar__link {
  padding: 10px 17px;

  display: block;
  text-decoration: none;
  background-color: var(--color-item-grey);
  border-radius: 10px;

  font-size: 12px;
  line-height: 16px;
  color: inherit;

  cursor: pointer;
}

.navbar__link:hover {
  color: var(--color-font-grey);
}