.search {
  width: 100%;

  padding-bottom: 50px;
  border-bottom: 1px solid var(--color-line-dark);
}

.search__text-cont {
  position: relative;
  width: 100%;

  margin-bottom: 41px;
}

.search__input {
  width: 100%;

  background-color: var(--color-bg-input);
  border-radius: 40px;
  border: none;
  outline: none;

  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: var(--color-font-grey);

  padding: 14px 22px;
}

.search__button {
  position: absolute;
  right: 6px;
  top: 6px;

  width: 34px;
  height: 34px;

  border-radius: 48px;
  border: none;

  background: url('../../images/arrow-button.svg') center no-repeat, var(--color-bg-input-btn);
  color: white;

  transition: opacity .5s ease;
}

.search__button:hover {
  opacity: 0.8;
}

.search__checkbox-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.search__checkbox {
  display: none;
}

.search__checkbox-label {
  width: 36px;
  height: 20px;

  background-color: var(--color-bg-input);
  border-radius: 20px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.search__checkbox-label:hover {
  background-color: var(--color-font-grey);
}

.search__checkbox-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: white;

  margin: 2px 18px 2px 2px;

  transition: margin 0.3s ease;
}

.search__checkbox:checked~.search__checkbox-label {
  background-color: var(--color-bg-button-active);
}

.search__checkbox:checked~.search__checkbox-label::before {
  margin: 2px 2px 2px 18px;
}

.search__checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media all and (max-width: 525px) {
  .search__input {
    padding: 14px 19px;
    font-size: 11px;
  }

  .search__checkbox-text {
    font-size: 11px;
  }
}